.card{
    border: 1px #E6FF83 solid;
    box-shadow:0px 4px 40px #E6FF83;
    border-radius: 16px;
    width: 321px;
    height: 160px;
    padding-left: 32px;
    margin-left: 10px ;
    margin-bottom: 30px;
}
.card-title{
    padding-top: 32px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.card-title i{
    padding-right: 36px;
}

.card-property{
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    margin: 0px;
}
.card-row{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-bottom: 12px;
    margin: 0px
}
.card-value{
    margin: 0px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.not_fav{
    user-select: none;
}

/* .circle{
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: linear-gradient(162.63deg, #E6FF83 -25.56%, rgba(230, 255, 131, 0) 88.09%);
} */
.cards-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    align-content: center;

}